body {
  font-family: "Press Start 2P", system-ui;
  background-image: url("../../public/img/background.png");
  background-size: cover;
}

.container {
  min-height: 100vh;
}

.custom-card {
  cursor: pointer;
}

.opaque {
  background-color: rgba(221, 220, 220, 0.7);
}
